/* Estilos generales */
body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: 'Fira Sans Condensed', sans-serif;

}
  
  /* Estilos para el contenedor principal */
div {
    text-align: center;
}
  
h1 {
  font-size: 48px;
  color: rgb(45, 170, 255);
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;

}
  
  /* Estilos para el párrafo */
p {
    max-width: 100%;
    text-align: left; 
    margin: 20px auto;
    font-size: 25px;
    font-weight: 500;
}
  
  /* Estilos para el botón */
a {
    display: inline-block;
    padding: 10px 20px;
    background-color:rgb(45, 170, 255);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    margin: 10px;
}
  
a:hover {
    background-color: #0056b3;
}

/* Media query para celulares */
@media (max-width: 576px) {
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 18px;
  }
}

/* Media query para tablets */
@media (min-width: 577px) and (max-width: 768px) {
  h1 {
    font-size: 42px;
  }
  p {
    font-size: 20px;
  }
}